<div class="multiplayer-live" *ngIf="multiplayerState && multiplayerState.inProgress">
  <div class="multiplayerLiveItem" *ngFor="let scoreItem of multiplayerState.scores; let position = index;">
    <div class="multiplayerPosition">{{ position + 1 }}</div>
    <div class="multiplayerName">{{ scoreItem.name }}
      <div class="multiplayerScore">{{ scoreItem.score|number }}</div>
    </div>

  </div>
</div>
<div class="multiplayer-results">
  <!-- Create a component for game-specific crap here -->
  <!-- For now, I'm hard-coding it -->
  <!-- "totalHide" - this is to prevent the rows showing briefly on each update because of the animation assignments. If there's a better way, I'm all ears. -->
  <table [ngClass]="{
    'totalHide': ((multiplayerState && !multiplayerState.completed) || !multiplayerState.visible) }">
    <tr [ngClass]="{
    'hide': ((multiplayerState && !multiplayerState.completed) || !multiplayerState.visible),
    'show': (multiplayerState && multiplayerState.completed && multiplayerState.visible) }">
      <th></th>
      <th></th>
      <th>Perfect</th>
      <th>Good</th>
      <th>Poor</th>
      <th>Total<br>Notes</th>
      <th>Longest<br>Streak</th>
      <th>Specials</th>
      <th>Max<br>Multiplier</th>
      <th>Score</th>
    </tr>
    <tr [ngClass]="{
    'hide': ((multiplayerState && !multiplayerState.completed) || !multiplayerState.visible),
    'show': (multiplayerState && multiplayerState.completed && multiplayerState.visible) }"
      *ngFor="let scoreItem of multiplayerState.scores; let position = index;">

      <td class="position">{{ position + 1}}</td>
      <td class="name">
        <ng-container *ngIf="scoreItem.gameSpecificData && (scoreItem.gameSpecificData.perfectHits + scoreItem.gameSpecificData.goodHits + scoreItem.gameSpecificData.poorHits == scoreItem.gameSpecificData.totalNotes)">
          <img src="assets/ico-full-combo-left.png" style="width: 32px" />
          {{ scoreItem.name }}
          <img src="assets/ico-full-combo.png" style="width: 32px"/>
        </ng-container>
        <ng-container *ngIf="scoreItem.gameSpecificData && (scoreItem.gameSpecificData.perfectHits + scoreItem.gameSpecificData.goodHits + scoreItem.gameSpecificData.poorHits != scoreItem.gameSpecificData.totalNotes)">
          {{ scoreItem.name }}
        </ng-container>
      </td>
      <ng-container *ngIf="scoreItem.gameSpecificData">
      <td [ngClass]="{ 'mostAccurate': scoreItem.gameSpecificData.highestAccuracy }">{{ scoreItem.gameSpecificData.perfectHits }}</td>
      <td [ngClass]="{ 'mostAccurate': scoreItem.gameSpecificData.highestAccuracy }">{{ scoreItem.gameSpecificData.goodHits }}</td>
      <td [ngClass]="{ 'mostAccurate': scoreItem.gameSpecificData.highestAccuracy }">{{ scoreItem.gameSpecificData.poorHits }}</td>
      <td>{{ scoreItem.gameSpecificData.perfectHits + scoreItem.gameSpecificData.goodHits + scoreItem.gameSpecificData.poorHits }}/{{ scoreItem.gameSpecificData.totalNotes }}</td>
      <td>{{ scoreItem.gameSpecificData.longestStreak }}</td>
      <td>{{ scoreItem.gameSpecificData.specialsComplete }}/{{ scoreItem.gameSpecificData.totalSpecials }}</td>
      <td>{{ scoreItem.gameSpecificData.maxMultiplier }}</td>
      </ng-container>
      <td>{{ scoreItem.score|number }}</td>
    </tr>
  </table>
</div>
