<div class="synthRiders">
  <div class="modifiers">
    <div class="modifier">{{ gameState.difficulty }}</div>
    @if (gameState.gameSpecificData && gameState.gameSpecificData.isForceMode !== null && !gameState.gameSpecificData.isForceMode) {
      <div class="modifier rhythm">
        <img src="assets/ico-rhythm.png"> Rhythm
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.isForceMode !== null && gameState.gameSpecificData.isForceMode) {
      <div class="modifier force">
        <img src="assets/ico-force.png">
        Force
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.noFailEnabled) {
      <div class="modifier noFailEnabled">
        <img src="assets/ico-no-fail.png"> No-Fail
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.haloEnabled) {
      <div class="modifier haloEnabled">
        <img src="assets/ico-halo.png"> Halo
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.noteJumpSpeed > 0) {
      <div class="modifier njs">
        {{ gameState.gameSpecificData.noteJumpSpeed + 1 }}x NJS
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.noteSize > 0) {
      <div class="modifier noteSize">
        {{ gameState.gameSpecificData.noteSize == 1 ? "SML" : "BIG" }}
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.prismaticNotesEnabled) {
      <div class="modifier prismaticNotes">
        <img src="assets/ico-prismatic-notes.png"> Prismatic
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.spinEnabled) {
      <div class="modifier spinMode">
        <img src="assets/ico-spin-mode.png"> {{ getSpinDegrees(gameState.gameSpecificData.spinMode ) }}&deg; {{ getSpinIntensity(gameState.gameSpecificData.spinIntensity) }}
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.spiralEnabled) {
      <div class="modifier spiralMode">
        <img src="assets/ico-spiral-mode.png"> {{ getSpiralIntensity(gameState.gameSpecificData.spiralIntensity) }}
      </div>
    }
    <!-- NOTE: we only show this when obstaclesEnabled is false, as it represents no-walls mode -->
    @if (gameState.gameSpecificData && !gameState.gameSpecificData.obstaclesEnabled) {
      <div class="modifier obstaclesEnabled">
        <img src="assets/ico-obstacles.png"> No-Obstacles
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.suddenDeathEnabled) {
      <div class="modifier suddenDeath">
        <img src="assets/ico-sudden-death.png"> Sudden Death
      </div>
    }
    @if (gameState.gameSpecificData && gameState.gameSpecificData.vanishNotesEnabled) {
      <div class="modifier vanishNotes">
        <img src="assets/ico-vanish-notes.png"> Vanish
      </div>
    }
  </div>
</div>
