<div [hidden]="gameState.title == ''" class="appContainer">
  <app-song-details
    [hidden]="!supportedComponents.songDetails || enabledComponents.indexOf('song-details') < 0"
    [isVisible]="(isVisible$ | async) || false"
    [isAlbumArtVisible]="flags.indexOf('hide-album-art') < 0"
    [gameState]="(gameState$ | async) || gameState"></app-song-details>
  <app-song-status
    [hidden]="!supportedComponents.songStatus || enabledComponents.indexOf('song-status') < 0"
    [isVisible]="(isVisible$ | async) || false"
    [gameState]="(gameState$ | async) || gameState">
  </app-song-status>
  <app-score
    [hidden]="!supportedComponents.score || enabledComponents.indexOf('score') < 0"
    [isVisible]="(isVisible$ | async) || false"
    [gameState]="(gameState$ | async) || gameState"
    [showHighScore]="supportedComponents.highScore"
    [showCombo]="supportedComponents.combo"
    [showMultiplier]="supportedComponents.multiplier">
  </app-score>
  <app-player-health
    [hidden]="!supportedComponents.playerHealth || enabledComponents.indexOf('player-health') < 0"
    [isVisible]="(isVisible$ | async) || false"
    [gameState]="(gameState$ | async) || gameState">
  </app-player-health>
<!--  <app-game-specific-->
<!--    [hidden]="!supportedComponents.gameSpecific || enabledComponents.indexOf('game-specific') < 0"-->
<!--    [isVisible]="(isVisible$ | async) || false"-->
<!--    [gameState]="(gameState$ | async) || gameState"-->
<!--    [connectedGame]="(connectedGame$ | async) || ''">-->
<!--  </app-game-specific>-->
</div>
