/* Song information elements */
.songBlock {
  /* This makes a translucent background on the song block.
   * Adjust the last number to change how translucent it is.
   * Comment out the line below to remove it */
  background-color: rgba(0, 0, 0, 0.25);

  display: flex;
  padding: 10px;
  width: fit-content;

  .title {
    font-size: 48px;
  }

  .artist {
    font-size: 32px;
  }

  .mapper {
    font-size: 32px;
  }

  /* This is the label beside the mapper name */
  .mapperLabel {
    text-transform: uppercase;
    color: grey;
  }

  .difficulty {
    font-size: 24px;
  }
  .songInfo {
    display: flex;
    flex-direction: column;
    /*-webkit-text-stroke: 1px black;*/
  }

  .albumArt img {
    max-width: 190px;
    margin-right: 10px;
  }

}


