<div class="songBlock">
  <div class="albumArt">
    <img class="albumArtImage" [src]="gameState.albumArt"/>
  </div>
  <div class="songInfo">
    <div class="title">{{ gameState.title }}</div>
    <div><span class="artist">{{ gameState.artist}}</span></div>
    <div class="mapperContainer"><span class="mapper">{{ gameState.mapper }}</span> <span
      class="mapperLabel">Mapper</span></div>
    <div class="difficulty">{{ gameState.difficulty }}</div>
    <div class="extraText">{{ gameState.extraText }}</div>
  </div>
</div>
