<div class="songDetails"
     [ngClass]="{ 'show': isVisible, 'hide': !isVisible }">
  <div [hidden]="!isAlbumArtVisible" class="albumArt" [ngStyle]="{'background-image': 'url(' + gameState.albumArt + ')'}">
    <div class="spinner-wrapper">
      <mat-progress-spinner mode="determinate" [value]="songPercentComplete" [strokeWidth]="6"></mat-progress-spinner>
      <div class="songPosition">{{ gameState.songPosition * 1000 | date:'m:ss' }}</div>
    </div>
  </div>
  <div class="songInfo" [ngClass]="{ 'songInfoWithAlbumArt': isAlbumArtVisible && gameState.albumArt }">
    <div class="title">{{ gameState.title }}</div>
    <div class="artist">{{ gameState.artist}}</div>
    <div class="mapperContainer"><span class="mapper">{{ gameState.mapper }}</span> &nbsp;<span
      class="mapperLabel">Mapper</span></div>
    <div class="difficulty">
      <div class="difficulty-shim"></div>
      <div class="difficulty-text">{{ gameState.difficulty }}</div>
      <app-game-specific
        [gameState]="gameState"
        [connectedGame]="(connectedGame$ | async) || ''">
      </app-game-specific>
    </div>
    <div class="extraText">{{ gameState.extraText }}</div>
  </div>
</div>
